{{#each places  as |place|}}

  <div data-id="{{place.id}}" class="entry panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6 col-sm-8 col-md-10">
          <h3 class="panel-title"><strong>{{place.name}}</strong></h3>
        </div>
        {{> data-controls place=place }}
      </div>
    </div>

    <div class="panel-body">
      <div>
        <h4><strong>Address:</strong>
        {{place.address}}</h4>
      </div>
      <div class="pad-bottom">
        {{!-- {{#each place.notes as |note|}}
          {{note.content}}
        {{else}} --}}
          {{#if place.description}}
            <strong>Description: </strong>
              <p class="well description">{{place.description}}</p>
          {{else}}
            No description yet.
          {{/if}}
        {{!-- {{/each}} --}}
      </div>
      <div id="update-{{place.id}}-collapse" class="panel-collapse collapse">
        {{> data-forms place=place }}
      </div>
    </div>
  </div>

{{else}}

  <div class="entry row">
    <h3>No places saved. Add a place by clicking the '+' and filling out the details.</h3>
  </div>

{{/each}}